$primary-color: #333;
$gray: #f2f2f2;
$main-color: #2196f3;

main#content {
  max-width: 1300px;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-family: roboto;

  .container {
    max-width: 1300px;
  }

  h2 {
    border-left: 6px solid $main-color;
    padding-left: 7px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 30px;
    @media screen and (max-width: 1320px) {
      margin-left: 15px;
    }
  }

  .rowLayout {
    margin-bottom: 40px;
  }

  .moreButton {
      border: 1px solid $main-color;
      background-color: $main-color;
      border-radius: 20px;

      text-transform: uppercase;
      font-weight: 700;
      font-size: 15px;
      color: white;
    }

  .moreButton:hover {
    background-color: white;
    color: $primary-color;
  }
}

