
main#recipe {
  max-width: 1200px;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-family: roboto;

  h1, p {
    text-align: center;
    color: rgba(0, 0, 0, .8);
  }

  h4 {
    font-weight: 200;
    font-family: Roboto;
    margin-bottom: 20px;
  }

  .fullwidth {
    width: 100%;
  }

  .tag-icon {
    margin-left: 5px;
    color: rgba(0,0,0,.5);
  }

  .link {
    color: #4287f5;
    text-decoration: underline;
    cursor: pointer;
  }

  .attributes {
    //border: 1px solid rgba(0,0,0,.1);
    padding: 10px;
    border-radius: 20px;

    .time-link {
      cursor: pointer;
      border-bottom: 1px solid #666666;
    }
  }

  .tags {
    display: inline;

    a {
      color: black;
    }
  }

  .steps {
    $step-number-size: 35px;
    
    .number {
      display: block;
      width: $step-number-size;
      height: $step-number-size;
      text-align: center;
      line-height: $step-number-size;
      background-color: $main-color;
      border-radius: 100%;
      font-weight: bold;
      color: white;
      font-size: 15px;
    }

    .step {
      padding-top: 7px;
    }
  }

  .recipe-image {
    max-height: 400px;
    object-fit: cover;
    margin: 10px;
  }

  h5 {
    font-size: 18px;
    
    .servings {
      display: inline-block;;
      width: 60px;
      text-align: center;
      margin: 0 5px 0 5px;
    }
  }

  .attribute {
    display: inline-block;
    background-color: $gray;
    padding: 5px 10px 5px 10px;
    margin: 0px 5px 5px 0px;
    color: black;
    font-size: 15px;
  }

  table.ingredients {
    width: 100%;

    tr {
      &.highlighted {
        background-color: $gray;
      }

      td {
        padding: 5px 0px 5px 0px;

        &.amount {
          min-width: 20%;
          text-align: right;
        }
        
        &.ingredient {
          padding-left: 15px;
          text-align:left;
        }
      }
    }
  }
}


