$primary-color: #333;
$main-color: #2196f3;
$gray: #cfcdcd;

#recipeCards {
  .gridLayout {
    margin-bottom: 20px;
    height: 100%;
  }

  .cardImage {
    height: auto;
    width: 100%;
    vertical-align: middle;
  }

  .cardContent {
    min-height: 100px;
  }

  h3 {
    height: 50px;
    overflow: hidden;
    font-size: 20px;
    font-weight: 700;
  }

  a {
    text-decoration: none;
    color: $primary-color;
  }

  p {
    margin-left: 5px;
    margin-top: 2px;
    font-size: 17px;
    font-weight: 700;
    white-space: nowrap;
    flex: 1;
    text-align: left;
  }
  
  .mobileRating {
    @media screen and (max-width: 850px) {
      width: 18px;
      height: 18px;
    }
    @media screen and (max-width: 400px) {
      width: 15px;
      height: 15px;
    }
  }

  .flexParent {
    display: flex;

    .flexChild  {
      flex: 1;
    }
  }
}


