
main#recipe {
  max-width: 1200px;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;

  h1, p {
    text-align: center;
  }

  .fullwidth {
    width: 100%;
  }

  .tag-icon {
    margin-left: 5px;
    color: rgba(0,0,0,.5);
  }

  .link {
    color: #4287f5;
    text-decoration: underline;
    cursor: pointer;
  }

  .step-number {
    border-right: 2px solid black;

    h5 {
      font-weight: bold;
    }
  }

  .ingredients {
    
    ul {
      li {
        margin-bottom: 10px;
      }
    }
  }
}


